/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(58, 58, 58);
  color: white;
}

canvas {
  border: 2px solid white;
} */
